.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.start {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
  min-width: 50%;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: slateblue;
  color: white;
}

.title {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title small {
  font-size: 1rem;
  color: #a0a0a0;
}

.title h2 {
  margin-top: 2rem;
  color: #a0a0a0;
}

footer {
  padding: 1rem;
  color: #a0a0a0;
}