.challenges {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  overflow: scroll;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(28, 28, 28, 0.6);
  width: 100%;
  padding: 0 8px;
  display: grid;
  grid-template-columns: 56px 1fr 56px;
  height: 56px;
  min-height: 56px;
  align-items: center;
  justify-items: center;
  /* TODO: extract to variables. Maybe use sass. */
  border-bottom: 1px solid #303030;
  backdrop-filter: blur(8px);
}

h1 {
  color: #d0d0d0;
  font-weight: normal;
}

.icon-left {
  color: #a0a0a0;
  font-size: 1.8rem;
}

.challenge-group {
  padding-top: calc(56px + 1rem);
  width: 100%;
}

.challenge {
  display: grid;
  grid-template-columns: 5rem 6fr;
  align-items: center;
  justify-items: center;
  border-radius: 8px;
  background-color: #242424;
  height: 5rem;
  margin: 0.8rem 10%;
  width: 80%;
  color: #d0d0d0;
  border: 1px solid #383838;
}

.title-group {
  /* border: 1px solid cyan; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.locked {
  color: #808080;
  background-color: #1c1c1c;
  border: 1px solid #303030;
}

.icon-locked,
.icon-unlocked {
  /* transform: translateY(4px); */
  font-size: 2rem;
  color: mediumpurple;
}

.icon-unlocked {
  color: darkgoldenrod;
}

.hint-locked {
  /* font-style: italic; */
  color: #606060;
  font-family: monospace;
}

.hint-done {
  color: mediumpurple;
  font-family: monospace;
}

.hint-try {
  font-style: italic;
  color: goldenrod;
  font-family: monospace;
}

.help-icon {
  color: mediumturquoise;
}

@media (min-width: 600px) {
  .top-nav {
    grid-template-columns: 64px 1fr 64px;
    height: 64px;
    min-height: 64px;
  }

  .challenge-group {
    padding-top: calc(64px + 1rem);
  }
}