@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TOOD: Clean up theme and use RGB everywhere
so we can add opacity when needed. */
:root[data-theme='dark'] {
  --bg-primary: #181818;
  --bg-primary-rgb: 24, 24, 24;
  --bg-secondary: #1c1c1c;
  --bg-tertiary: #242424;
  --fg-primary: #d0d0d0;
  --fg-secondary: #a0a0a0;
  --fg-tertiary: #303030;
  --challenge-border: #383838;
  --fg-accent: mediumpurple;
  --fg-pink: hotpink;
  --start-button-bg: rebeccapurple;
  --start-button-fg: white;
  --unlocked-icon: darkgoldenrod;
  --unlocked-hint1: goldenrod;

}

:root[data-theme='light'] {
  --bg-primary: #d0d0d0;
  --bg-primary-rgb: 208, 208, 208;
  --bg-secondary: #c8c8c8;
  --bg-tertiary: #c0c0c0;
  --fg-primary: #181818;
  --fg-secondary: #585858;
  --fg-tertiary: #a0a0a0;
  --challenge-border: #a8a8a8;
  --fg-accent: rebeccapurple;
  --fg-pink: hotpink;
  --start-button-bg: rebeccapurple;
  --start-button-fg: white;
  --unlocked-icon: darkgoldenrod;
  --unlocked-hint1: darkgoldenrod;

}

:root[data-font='sans-serif'] {
  --font-family: 'Ubuntu Sans', sans-serif;
}

:root[data-font='serif'] {
  --font-family: 'Charis SIL', serif;
}

#root {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  font-family: var(--font-family);
  transition: background-color 0.3s, color 0.3s;
  width: 100vw;
  height: 100vh;
}