@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root[data-theme='dark'] {
  --bg-primary: 24, 24, 24;
  --bg-secondary: 28, 28, 28;
  --bg-tertiary: 36, 36, 36;

  --fg-primary: 160, 160, 160;
  --fg-secondary: 120, 120, 120;
  --fg-tertiary: 80, 80, 80;

  /* These are borders. */
  --border-1: 56, 56, 56;
  --border-2: 48, 48, 48;

  --accent: mediumpurple;

  --start: rebeccapurple;

  --icon-locked: mediumpurple;
  --icon-unlocked: darkgoldenrod;
  --hint-completed: mediumpurple;
  --hint-try: goldenrod;

  --love: hotpink;

  --white: white;
}

:root[data-theme='light'] {
  --bg-primary: 208, 208, 208;
  --bg-secondary: 200, 200, 200;
  --bg-tertiary: 192, 192, 192;

  --fg-primary: 88, 88, 88;
  --fg-secondary: 120, 120, 120;
  --fg-tertiary: 140, 140, 140;


  --border-1: 160, 160, 160;
  --border-2: 168, 168, 168;

  --accent: rebeccapurple;

  --start: rebeccapurple;

  --icon-locked: mediumpurple;
  --icon-unlocked: darkgoldenrod;
  --hint-completed: rebeccapurple;
  --hint-try: darkgoldenrod;

  --love: hotpink;

  --white: white;
}

:root[data-font='sans-serif'] {
  --font-family: 'Ubuntu Sans', sans-serif;
}

:root[data-font='serif'] {
  --font-family: 'Charis SIL', serif;
}

#root {
  background-color: rgb(var(--bg-primary));
  color: rgb(var(--fg-primary));
  font-family: var(--font-family);
  transition: background-color 0.3s, color 0.3s;
  width: 100vw;
  height: 100vh;
}