* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root[data-theme='dark'] {
  --bg-primary: #181818;
  --fg-primary: #d0d0d0;
  --fg-secondary: #a0a0a0;
  --fg-tertiary: #303030;
  --fg-accent: mediumpurple;
  --fg-pink: hotpink;
  --start-button-bg: rebeccapurple;
  --start-button-fg: white;
}

/* TODO: Choose colours for light theme. */
:root[data-theme='light'] {
  --bg-primary: #d0d0d0;
  --fg-primary: #181818;
  --fg-secondary: #585858;
  --fg-tertiary: #a0a0a0;
  --fg-accent: rebeccapurple;
  --fg-pink: hotpink;
  --start-button-bg: rebeccapurple;
  --start-button-fg: white;

}

/* TODO: Ensure fonts are available */
:root[data-font='sans-serif'] {
  font-family: 'Ubuntu Sans', sans-serif;
}

/* TODO: Ensure fonts are available,
Choose a nice serif font. */
:root[data-font='serif'] {
  font-family: 'Charis SIL', serif;
}

:root {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
}

#root {
  width: 100vw;
  height: 100vh;
}