.lang-switcher {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.lang-popup {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  background-color: #181818;
  border-left: 1px solid #303030;
  border-right: 1px solid #303030;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
}

.lang-popup div {
  background-color: #181818;
  cursor: pointer;
  display: grid;
  grid-template-columns: 32px 16px 1fr;
  padding: 16px;
  border-bottom: 1px solid #303030;
  min-width: 150px;
  transition: background-color 0.2s;
}

.lang-popup div:hover {
  background-color: #303030;
}

.flag {
  display: inline;
}

/* .lang-name { */
/* text-align: right; */
/* } */

.current-lang {
  /* width: 16px; */
  color: mediumpurple;
}