.lang-switcher {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.lang-popup {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  background-color: rgb(var(--bg-primary));
  border-left: 1px solid rgb(var(--fg-secondary));
  border-right: 1px solid rgb(var(--fg-secondary));
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
}

.lang-popup div {
  background-color: rgb(var(--bg-primary));
  cursor: pointer;
  display: grid;
  grid-template-columns: 32px 16px 1fr;
  padding: 16px;
  border-bottom: 1px solid rgb(var(--fg-secondary));
  min-width: 150px;
  transition: background-color 0.3s;
}

.lang-popup div:hover {
  background-color: rgb(var(--fg-secondary));
}

.flag {
  display: inline;
}

/* .lang-name { */
/* text-align: right; */
/* } */

.current-lang {
  /* width: 16px; */
  color: var(--accent-1);
}